/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.  
 *
 
 
 *= require bootstrap_and_overrides
 *= require_self
 *= require active_admin
 *= require font-awesome
 *= require responsive

 */


/* Desktop */
@media screen and (min-width: 992px) {
}

a {
	text-decoration: none !important;
}
html {
  height: 100%;
  width: 100%;
}

/* Primary Styles
----------
-----------------------*/
body {
  padding-top: 5em !important;
  font-family: 'Fjalla One', sans-serif;
  font-size:12px;
  height: 100%;
}
h1{
  font-size: 36px;
}

h2{
  font-size:28px;
  color:#222222;
  font-family:'Fjalla One';
  text-transform:uppercase;
}
h3{
  font-family: 'Fjalla One', sans-serif;
  font-size:16px;
  text-transform:uppercase;
}
h6{
  font-size:16px;
  font-family: 'Fjalla One', sans-serif;
  text-align:center;
}
p{
  line-height:24px;
  margin:0;
}

/* Header Styles
---------------------------------*/

.login{
 
 
 width: 100%;
 height: 100%;
 background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
background-attachment: scroll;
background-repeat: no-repeat;
}

.login .form-group {
  color: white;
}

 .login h4 {
  color: white;
}

.login a {
  color: blue !important;
}

div.modal-content.login {
  background-image: url(hierba.png) ; 
}



.inicioapp{
     
    /*background-image: url(hierba.png);*/
    /* background-color: black; */
    background-position: center;
    height: 100%;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    /*-moz-background-size: cover;*/
    /*background-size: cover;*/
    /*-o-background-size: cover;*/
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inicioapp h2 {
 color: white;
}

.inicioapp h4 {
 color: white !important;
}

.inicioapp a {
 color: white !important;
}


body.home .bannerHome {
    background: white;
    width: 100%;
    height: 50%;
}

.bienvenidaHome p {
    background-color: blue no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    margin: 0 auto;
    max-width: 865px;
    padding: 15px 0 30px 30px;
}



.bienvenidaHome {
    color: white;
    font-size: 19px;
    font-family: "Open Sans","Roboto";
    font-weight: lighter;
    font-style: italic;
    line-height: 100%;
    text-align: center;
    margin-top: -30px !important;
    background-position: center;
        
  }

.uk-panel, a.uk-panel:hover {
    color: inherit;
    text-decoration: none;
}


.uk-panel {
    display: block;
    position: relative;
}
/* Nav Styles
---------------------------------*/


.navbar-header a {
  background-color: #006600;
  color: white;
}
 	

 .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	background: #003300;
  font-family: 'Fjalla One', sans-serif;
  margin-right: 0;
  padding: 12px 6px;
  color: white;
  margin-bottom: 0;
  height: 100%;
}



.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
  margin-left: 0 !important;
  color: white;
}
nav.application {
  border-width: 0 0 0px;
}

.navbar-brand > img{
  display: inline-block !important;
  vertical-align: middle;
}

.navbar-right li{
	
  margin-left: 4px;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

.navbar-default .navbar-nav > li > a{
  color: white !important;
}

.navbar-default{
  background-color: #468966 !important;
}
.navlogin a {
  padding: 16px 15px !important;

}

li.navlogin  {
  
  background-color: #003300;
}

/* Carousel */

.carousel-inner > .item{
	text-align: center;
}

.image-carousel{
  display: inline !important;
  height: 325px;
  max-height: 325px;
}

.separator{
  text-align: center;
  line-height: 50px;
  background: #FFCC00;
  color: #FF0000;
  text-transform: uppercase;
  box-shadow: inset 0px 0px 3px 2px #0B3E68;
  text-shadow: 1px 1px 1px #000;
  h3{
  	margin-top: 0;
  }
}

.crazy-boxes{
  overflow-y: scroll;
  height: 238px;
}

.crazy-box{
  background: rgba(0, 80, 255, 0.26);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 1px 2px 3px 0px #626262;
  margin-bottom: 20px;
}

.crazy-box p{
  line-height: 24px;
  text-align: justify;
  color: darkblue;
}

.estiloboton {

font-family: 'Fjalla One', sans-serif;
color: #2C6700;
background:#FFCF79;
text-align: center;

}

.estilonosotros  p {
  text-justify: center
}

.search {
  padding-right: 0;
  margin-bottom: 20px;
}





 

/* Services
---------------------------------*/

#service{
  padding:83px 0px;
  }

.service_area{
  padding:40px 0 40px; 
  }
  
.service_section{
  }
  
.service_block{
  text-align:center;
  padding-left: 15px;
  padding-right: 15px;
  }
  
.service_icon{
  border:2px solid #f56eab;
  border-radius:50%;
  width:90px;
  height:90px;
  margin:0px auto 25px;
  }
  
.service_icon.icon2{
  border:2px solid #7cc576;
  }
  
.service_icon.icon3{
  border:2px solid #49b5e7;
  }
  
.service_icon span {
    background:#f56eab;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}
.service_icon.icon2 span {
    background:#7cc576;
}
.service_icon.icon3 span{
    background:#49b5e7;
  }
.service_icon i{
  color: #fff;
    font-size: 40px;
    margin-top: 0;
    position: relative;
    top: 14px;
    z-index: 20;
  }
  
.service_block h3{
  font-family: 'Dosis';
  font-weight: 600;
  font-size:18px;
  color:#111111;
  margin:35px 0 18px;
  }
  
.service_block p{
  font-size:16px;
  color:#888888;
  margin:0px;
  }
  
.w3-container {
    padding: 0.01em 16px;
}
.w3-bottombar {
    border-bottom: 6px solid #468966 !important;
}
.w3-border {
    border: 1px solid #468966 !important;
}
.w3-border-green, .w3-hover-border-green:hover {
    border-color: #468966 !important;
}
.w3-pale-green, .w3-hover-pale-green:hover {
    color: #000 !important;
    background-color: #e7ffe7 !important;
}



/*Fin Log_in personalizado */

        

          .theme-dropdown .dropdown-menu {
            position: static;
            display: block;
            margin-bottom: 20px;
          }

          .theme-showcase > p > .btn {
            margin: 5px 0;
          }

          .theme-showcase .navbar .container {
            width: auto;
          }



/*Suscripcion*/


.hr { 
  background-color: black;
  height: 10px;
  width: 100%;
  
}


/*Footer */

.finreciclaton
{
    max-height: 20px;
    background-color: #222; 
    padding: 0px;
    color:rgba(230, 230, 230, 0.5);
    text-align: center;
}

#section7 {
  background-color: #468966;
  color: #f6f6f6;
  min-height:50px;
  padding-top:10px;
  padding-bottom:10px;
  -moz-background-size: cover;
  background-size: cover;
  
}

.fa-4x {
    font-size: 2em !important;

    color:white;
}


.final {
    /*background: url(verdegreen.png) top no-repeat;*/
    background: #468966;
    font-size: 18px;
    position: relative;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 60px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.final footer {
  color: white;
  text-align: center;
  font-family: 'Fjalla One', cursive;
}

video { 
    position: fixed;
    top: 71%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    opacity: 0.8;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}