/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.  
 *
 
 *= require_self
 *= require bootstrap_and_overrides
 *= require active_admin
 *= require font-awesome
 *= require responsive

 */


/* Desktop */
@media screen and (min-width: 992px) {
}

a {
	text-decoration: none !important;
}
html {
  height: 100%;
  width: 100%;
}

/* Primary Styles
----------
-----------------------*/
body {
  
  font-family: 'Fjalla One', sans-serif;
  font-size:12px;
  height: 100%;
}
h1{
  font-size: 36px;
}

h2{
  font-size:28px;
  color:#222222;
  font-family:'Fjalla One';
  text-transform:uppercase;
}
h3{
  font-family: 'Fjalla One', sans-serif;
  font-size:16px;
  text-transform:uppercase;
}
h6{
  font-size:16px;
  font-family: 'Fjalla One', sans-serif;
  text-align:center;
}
p{
  line-height:24px;
  margin:0;
}

/* Header Styles
---------------------------------*/

.login{
 
 background-image: url(ambiental.jpg) ; 
 width: 100%;
 height: 100%;
 background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
background-attachment: scroll;
background-repeat: no-repeat;
}

.inicioapp{
     
      background-image: url(yoreciclo.jpg);
      background-position: center;
      height: 100%;
      width: 100%;
      background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

body.home .bannerHome {
    background: #002;
    width: 100%;
    height: 694px;
}

.bienvenidaHome p {
    background: url(logo.png) no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    margin: 0 auto;
    max-width: 865px;
    padding: 15px 0 30px 30px;
}


.bienvenidaHome {
    background: url(logo.png) no-repeat 50% 0;
    color: blue;
    font-size: 19px;
    font-family: "Open Sans","Roboto";
    font-weight: lighter;
    font-style: italic;
    line-height: 150%;
    text-align: center;
    margin-top: -30px !important;
    padding: 30px 0 15px;
}


/* Nav Styles
---------------------------------*/


.main-bar {
	background-color: #006600;
	color: white;
}
.main-bar .navbar-header a {
	color:white;
}

#navbar .main-bar > li > a {
	color: white;
  padding: 12px 6px;
} 	

.main-bar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	background: #003300;
  font-family: 'Fjalla One', sans-serif;
  margin-right: 0
}

.main-bar .navbar-right {
  margin-right: 0;
}

.main-bar .navbar-right li{
	background: #33CC66;
  margin-left: 4px;
  border-style: dashed; border-width: 1px;

}

.main-bar .navbar-right li > a{
  
  font-family: 'Fjalla One', sans-serif;
	color: #003300;
  padding: 12px 6px;

  }


.carousel-inner > .item{
	text-align: center;
}

.image-carousel{
  display: inline !important;
  height: 325px;
  max-height: 325px;
}

.separator{
  text-align: center;
  line-height: 50px;
  background: #FFCC00;
  color: #FF0000;
  text-transform: uppercase;
  box-shadow: inset 0px 0px 3px 2px #0B3E68;
  text-shadow: 1px 1px 1px #000;
  h3{
  	margin-top: 0;
  }
}

.crazy-boxes{
  overflow-y: scroll;
  height: 238px;
}

.crazy-box{
  background: rgba(0, 80, 255, 0.26);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 1px 2px 3px 0px #626262;
  margin-bottom: 20px;
}

.crazy-box p{
  line-height: 24px;
  text-align: justify;
  color: darkblue;
}

.final {
  position: relative;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.final footer{
  font-family: 'Fjalla One', cursive;
}

.estiloboton {

font-family: 'Fjalla One', sans-serif;
color: #2C6700;
background:#FFCF79;
text-align: center;

}

.estilonosotros  p {
  text-justify: center
}

.search {
  padding-right: 0;
  margin-bottom: 20px;
}





 

/* Services
---------------------------------*/

#service{
  padding:83px 0px;
  }

.service_area{
  padding:40px 0 40px; 
  }
  
.service_section{
  }
  
.service_block{
  text-align:center;
  padding-left: 15px;
  padding-right: 15px;
  }
  
.service_icon{
  border:2px solid #f56eab;
  border-radius:50%;
  width:90px;
  height:90px;
  margin:0px auto 25px;
  }
  
.service_icon.icon2{
  border:2px solid #7cc576;
  }
  
.service_icon.icon3{
  border:2px solid #49b5e7;
  }
  
.service_icon span {
    background:#f56eab;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}
.service_icon.icon2 span {
    background:#7cc576;
}
.service_icon.icon3 span{
    background:#49b5e7;
  }
.service_icon i{
  color: #fff;
    font-size: 40px;
    margin-top: 0;
    position: relative;
    top: 14px;
    z-index: 20;
  }
  
.service_block h3{
  font-family: 'Dosis';
  font-weight: 600;
  font-size:18px;
  color:#111111;
  margin:35px 0 18px;
  }
  
.service_block p{
  font-size:16px;
  color:#888888;
  margin:0px;
  }
  







/*Fin Log_in personalizado */

        

          .theme-dropdown .dropdown-menu {
            position: static;
            display: block;
            margin-bottom: 20px;
          }

          .theme-showcase > p > .btn {
            margin: 5px 0;
          }

          .theme-showcase .navbar .container {
            width: auto;
          }


/*Footer */


#section7 {
  background-color: #5491bd;
  color: #f6f6f6;
  min-height:130px;
  padding-top:40px;
  padding-bottom:40px;
}



#footer {
    background: url(dd) top no-repeat;
    width: 840px;
    height: 333px;
    display: block;
    margin: 0 auto;
    padding: 70px 70px 150px;
    color: #eee;
    font-size: 12px;
    position: relative;
}
