
<section  id="l-recycle">
              <div class="row">
                <div class="container">
                    
                        <div class="l-recycle">
                        
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                      
                          <h2>Líneas de reciclaje</h2>
                        </div>

                        <br/>

                          <br/>

                            <br/>	

              <div class="service_area">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="service_block">
                      <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="f"></i></span> </div>
                      <h3 class="animated fadeInUp wow">Textiles</h3>
                      <p class="animated fadeInDown wow"></p>
                      <span></span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="service_block">
                      <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class=""></i></span> </div>
                      <h3 class="animated fadeInUp wow">Plásticos</h3>
                      <p class="animated fadeInDown wow"></p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="service_block">
                      <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-tint"></i></span> </div>
                      <h3 class="animated fadeInUp wow">Aceites</h3>
                      <p class="animated fadeInDown wow"></p>
                    </div>
                  </div>
				<div class="col-lg-4">
                    <div class="service_block">
                      <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class=""></i></span> </div>
                      <h3 class="animated fadeInUp wow">Cartones</h3>
                      <p class="animated fadeInDown wow"></p>
                    </div>
                  </div>
				<div class="col-lg-4">
                    <div class="service_block">
                      <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class=""></i></span> </div>
                      <h3 class="animated fadeInUp wow">Metales</h3>
                      <p class="animated fadeInDown wow"></p>
                    </div>
                  </div>
                 <div class="col-lg-4">
                    <div class="service_block">
                      <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-lemon-o"></i></span> </div>
                      <h3 class="animated fadeInUp wow">Orgánicos</h3>
                      <p class="animated fadeInDown wow"></p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</section>


<section id="e-recycle">
	
		<div class="col-lg-8 col-lg-offset-2 text-center">
            <h2>Impacto ambiental</h2>
              <div id="graph"></div>
        </div>
        
</section>