
<div class="contenedorindex">
	<div class="estilonosotros">
		<div class= "row">
	  		<div class="col-md-4 col-md-offset-4 text-center">

			<!--<%= video_tag("flower.ogv", :controls => false, autoplay: true, loop: true) %>-->

	  			<h2>RECICLATON</h2>
	  			<h4>Su solucion ambiental</h4>
		<br/>
	<br/>

				
					<div class="col-lg-12 col-lg-offset-10 text-center">

						
							<h1 class="tit-site tit-que-hacemos">¿Qué hacemos?</h1>
						<div class="w3-container w3-pale-green w3-bottombar w3-border-green w3-border">
							<p class="animated fadeInDown wow"> Reciclaton por medio de una aplicacion busca ofrecer un servicio de oferta y demanda en residuos para personas naturales y/o juridicas mostrando en tiempo real la disminucion del impacto ambiental y generando un ciclo de reingenieria en el que se promueva la filosofia de cero residuos.</p>
						</div>
						

							<h1 class="tit-site tit-que-hacemos">¿Cómo lo hacemos?</h1>
						<div class="w3-container w3-pale-green w3-bottombar w3-border-green w3-border">
							<p class="animated fadeInDown wow"> Somos el mercado libre de los residuos. Intervenimos la cadena productiva de reciclaje para generar un cambio ambiental por medio de la tecnologia y la transformacion de nuevos materiales utiles para la sociedad.</p>
						</div>


							<h1 class="tit-site tit-que-hacemos">¿Por qué lo hacemos?</h1>
						<div class="w3-container w3-pale-green w3-bottombar w3-border-green w3-border">
							<p class="animated fadeInDown wow"> Queremos crear una red de soluciones ambientales para empresas que transforman los residuos solidos en productos útiles que son de uso común en la sociedad. Proporcionando el material previamente seleccionado y mostrando en tiempo real la disminución del impacto ambiental en la región.</p>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>


