
<div class= "row">
  <div class="col-md-4 col-md-offset-4">

<div class="text-center text-slider">
<h1 class="tit-site tit-que-hacemos">¿Qué hacemos?</h1>

<p >Reciclaton por medio de una aplicacion busca ofrecer un servicio de oferta y demanda en residuos para personas naturales y/o juridicas mostrando en tiempo real la disminucion del impacto ambiental y generando un ciclo de reingenieria en el que se promueva la filosofia de cero residuos.</p>


</div>

</div>
</div>